<!--<section class="theme-bg home">
    <div class="container-fluid h-100 p-0">

        <div class="home-hero pl-50 pr-50">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="home-hero-content">
                        <h1>Empowering <br /> Women Freelancers</h1>
                        <p>Join a thriving community of women breaking barriers in the freelance world</p>
                        <a class="btn theme-btn">Join
                            Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 hero-right">
                    <div class="hero-right-image">
                        <img src="/assets/img/hero-img.png" alt="hero">
                    </div>
                </div>
            </div>

        </div>

        <div class="container h-100">
            <div class="our-benefit-main" id="move_our_benifits">
                <h2>Our Benefits</h2>

                <div class="benefit-slider">

                   
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="our-benefit-list">
                                    <div class="benefit-check">
                                        <img src="/assets/img/exclusive-opportunities.svg" alt="model-check" />
                                    </div>
                                    <div class="benefit-check-content">
                                        <h3>Exclusive Opportunities</h3>
                                        <p>Access high-paying projects and gigs tailored for women freelancers.</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="our-benefit-list">
                                    <div class="benefit-check">
                                        <img src="/assets/img/supportive-community.svg" alt="model-check" />
                                    </div>
                                    <div class="benefit-check-content">
                                        <h3>Supportive Community</h3>
                                        <p>Connect with like-minded women, share experiences, and collaborate on
                                            projects.</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="our-benefit-list">
                                    <div class="benefit-check">
                                        <img src="/assets/img/skill-development-resources.svg" alt="model-check" />
                                    </div>
                                    <div class="benefit-check-content">
                                        <h3>Skill Development Resources</h3>
                                        <p>Access workshops, courses, and mentorship programs to enhance your skills and
                                            grow
                                            your career.</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="our-benefit-list">
                                    <div class="benefit-check">
                                        <img src="/assets/img/safe-inclusive-environment.svg" alt="model-check" />
                                    </div>
                                    <div class="benefit-check-content">
                                        <h3>Safe and Inclusive Environment</h3>
                                        <p>Experience a platform free from bias and discrimination, where your talents
                                            are
                                            celebrated.</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                  

                </div>
                <div class="text-center w-100"><a class="btn theme-btn">Sign Up Now</a></div>

            </div>

            <div class="how-works-main" id="move_how_it_work">
                <h2>How It Works</h2>

                <div class="col-lg-10 col-md-12 mx-auto how-work-list">
                    <div class="row align-items-center pb-30">
                        <div class="col-md-7 col-sm-12">
                            <div class="works-step-image"><img src="/assets/img/home-step-1.svg" alt="home-step-1">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="works-step-cont">
                                <span><b>1</b></span>
                                <div class="works-cont">
                                    <h3>Sign Up</h3>
                                    <p>Create your account in minutes by providing basic information.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center pb-30">
                        <div class="col-md-5 col-sm-12">
                            <div class="works-step-cont">
                                <span><b>2</b></span>
                                <div class="works-cont">
                                    <h3>Explore Opportunities</h3>
                                    <p>Browse through a wide range of projects and gigs tailored for women freelancers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="works-step-image"><img src="/assets/img/home-step-2.svg" alt="home-step-2">
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center pb-30">
                        <div class="col-md-7 col-sm-12">
                            <div class="works-step-image"><img src="/assets/img/home-step-3.svg" alt="home-step-3">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="works-step-cont">
                                <span><b>3</b></span>
                                <div class="works-cont">
                                    <h3>Apply and Collaborate</h3>
                                    <p>Submit proposals, showcase your skills, and collaborate with clients on exciting
                                        projects.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center pb-30">
                        <div class="col-md-5 col-sm-12">
                            <div class="works-step-cont">
                                <span><b>4</b></span>
                                <div class="works-cont">
                                    <h3>Grow Your Career</h3>
                                    <p>Access resources, workshops, and mentorship programs to enhance your skills and
                                        advance
                                        your freelance career.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <div class="works-step-image"><img src="/assets/img/home-step-4.svg" alt="home-step-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="join-community-main">
                <div class="join-community-bg">
                    <div class="join-community-cont">
                        <h2>Take the first step towards a rewarding freelance career. Join our community today!</h2>
                        <a class="btn theme-btn">Join
                            for free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div style="padding-left:16px">
    <h2>Home Module</h2>
    <p>Some content..</p>
  <!--  <button (click) = "showAlert()">Show Alert</button> -->
  </div>